/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


:root {
  /* MAIN */
  --color-primary: #1f2937;
  --color-secondary: #111827;
  --color-active: #364153;

  /* BACKGROUND */
  --color-content: #ffffff;
  --color-content-hover: #f3f4f6;
}
