/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  /* MAIN */
  --color-primary: #1f2937;
  --color-secondary: #111827;
  --color-active: #364153;

  /* BACKGROUND */
  --color-bg: #f9fafb;
  --color-content: #ffffff;
  --color-content-hover: #f3f4f6;

  /* TEXT */
  --color-text-muted: #6b7280;

  /* BORDER */
  --color-border: #e5e7eb;
}

.mdc-data-table__row {
  background-color: transparent !important;
}

.mdc-data-table__header-row {
  background-color: transparent !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}


/* tinggi wrapper */
.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  height: 40px;
}

/* area dalam */
.mat-mdc-form-field .mat-mdc-form-field-infix {
  min-height: 40px;
  padding: 0 !important;
  display: flex;
  align-items: center;
}

/* INI KUNCI BIAR CENTER SEMPURNA */
.mat-mdc-input-element {
  height: 100%;
  line-height: 1;
}
