/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  /* MAIN */
  --color-primary: #111827;
  --color-secondary: #1a2233;
  --color-active: #222c3f;

  /* CONTENT */
  --color-content: #ffffff;
  --color-content-hover: #f3f4f6;

  /* TEXT */
  --color-text: #000000;
  --color-text-muted: #6b7280;

  /* BORDER */
  --color-border: #d1d5db;
}


/* mat-form-field */
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field .mat-mdc-form-field-infix {
  min-height: 40px;
  padding: 0 !important;
  display: flex;
  align-items: center;
}
/* mat-form-field */

/* mat-table */
.mat-table-bordered {
  border: 1px solid var(--color-border) !important;
  border-collapse: collapse !important;
  background: var(--color-content);
}

/* cell */
.mat-table-bordered .mat-mdc-header-cell,
.mat-table-bordered .mat-mdc-cell {
  border-right: 1px solid var(--color-border) !important;
  border-bottom: 1px solid var(--color-border) !important;
}

/* kanan terakhir */
.mat-table-bordered .mat-mdc-header-cell:last-child,
.mat-table-bordered .mat-mdc-cell:last-child {
  border-right: none !important;
}

/* header */
.mat-table-bordered .mat-mdc-header-row {
  background-color: var(--color-content-hover);
}

/* hover */
.mat-table-bordered .mat-mdc-row:hover .mat-mdc-cell {
  background-color: var(--color-content-hover);
  transition: background-color 0.2s ease;
}

/* zebra biar ga polos */
.mat-table-bordered .mat-mdc-row:nth-child(even) .mat-mdc-cell {
  background-color: var(--color-content-hover);
}

/* container scroll */
.table-container {
  width: 100%;
  overflow-x: auto;
}
/* mat-table */

